footer {
  background: var(--footer-bg-color);
  height: 160px;
}

.footer-wrapper {
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer > * {
  margin-top: 32px;
}

@media (min-width: 375px) and (max-width: 743px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item2 item3"
      "item1 item1";
  }
  .footer > div:nth-child(1) {
    grid-area: item1;
    grid-column: span 1;
  }
  .footer > div:nth-child(2) {
    grid-area: item2;
    justify-content: start;
  }
  .footer > div:nth-child(3) {
    grid-area: item3;
  }
}
