.footer__customer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer__customer > * {
  font-size: 16px;
  font-weight: 400;
  color: #e5e7eb;
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 743px) {
  .footer__customer {
    justify-content: start;
  }
}
