.footer__sns-link {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__sns-link > a > img {
  width: 18px;
  height: 18px;
}

@media (min-width: 375px) and (max-width: 743px) {
  .footer__sns-link {
    justify-content: end;
  }
}
