#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 200px;
  margin-bottom: 26px;
}

/* pc : 1200px이상  tablet : 744px이상  mobile : 743px이하 375px이상 */
/* 베스트 pc : 4개  tablet : 2개   mobile : 1개*/
/* 판매중인상품 pc : 5x2  tablet : 3x2   mobile : 2x2 */

@media screen and (max-width: 1199px) {
  #header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 743px) {
  #header {
    padding: 0 16px;
  }
}
