.product__best {
  margin-bottom: 40px;
}

.product__best > h1 {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.best-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .best-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .best-wrapper {
    grid-template-columns: 1fr;
  }
}
