#articleBest {
  margin-bottom: 40px;
}

#articleBestBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

#productBestTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111827;
  margin-bottom: 16px;
}

.articleBestProductImg {
  width: 282px;
  height: 282px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 16px;
}

.articleBestProductName {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.articleBestProductPrice {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.articleBestProductFavoriteCount {
  display: flex;
}

.articleBestProductFavoriteCount img {
  width: 16px;
  margin-right: 4px;
}

.articleBestProductFavoriteCount p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* pc : 1200px이상  tablet : 744px이상  mobile : 743px이하 375px이상 */
/* 베스트 pc : 4개  tablet : 2개   mobile : 1개*/
/* 판매중인상품 pc : 5x2  tablet : 3x2   mobile : 2x2 */

@media screen and (max-width: 1199px) {
  #articleBestBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .articleBestProductImg {
    width: 343px;
    height: 343px;
  }
}

@media screen and (max-width: 743px) {
  #articleBestBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .articleBestProductImg {
    width: 343px;
    height: 343px;
  }
}
