.seletor-wrapper {
  position: relative;
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 0 14px;
  box-sizing: border-box;
  line-height: 42px;
  color: #1f2937;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.seletor-wrapper > img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 10px;
  width: 15.7px;
  height: 7.42px;
  -webkit-user-drag: none; /* 이미지 드래그 방지 */
}
.seletor-wrapper > label {
  user-select: none; /* 텍스트 드래그 방지 */
}

.seletor-options {
  position: absolute;
  top: 100%;
  width: 128px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  border-radius: 12px;
  z-index: 10;
}

.seletor-options > li {
  padding: 0 14px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  list-style: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.seletor-options > li:not(:last-child) {
  border-bottom: 1px solid #efe7eb;
}

@media (min-width: 375px) and (max-width: 743px) {
  .seletor-wrapper {
    /* all: unset; */
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
  }
  .seletor-wrapper > img {
    /* position: absolute; */
    width: 42px;
    height: 42px;
    right: -21px;
    /* top: 63px; */
  }
  .seletor-options {
    right: 0px;
  }
}
