.nav-item {
  color: var(--nav-item-text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 21px 15px;
}

@media (min-width: 375px) and (max-width: 743px) {
  .nav-item {
    padding: 25px 5px;
  }
}
