.btn {
  border: none;
  font-weight: 600;
  text-align: center;
  line-height: 50%;
  background: var(--btn-active-color);
  color: var(--btn-text-color);
}
.btn:not(.btn-disabled) {
  cursor: pointer;
}

/* size */
.btn-lg {
  padding: 16px 124px;
  font-size: 20px;
  border-radius: 40px;
  height: 56px;
}
.btn-md {
  padding: 12px 71px;
  font-size: 18px;
  border-radius: 40px;
  height: 48px;
}
.btn-sm-42 {
  padding: 12px 23px;
  font-size: 16px;
  height: 42px;
  border-radius: 8px;
}
.btn-sm-48 {
  padding: 12px 23px;
  font-size: 16px;
  height: 48px;
  border-radius: 8px;
}

/* disabled */
.btn-disabled {
  background: var(--btn-inactive-color);
}

/* hover */
.btn:hover:not(.btn-disabled) {
  background: var(--btn-hover-color);
}

/* click */
.btn:active:not(.btn-disabled) {
  background: var(--btn-click-color);
}
