.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text-img {
  width: 100px;
}

@media (min-width: 375px) and (max-width: 743px) {
  .logo-img {
    display: none;
  }
  .logo-text-img {
    width: 81px;
  }
}
