.general-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.general-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
}

.general-filter > h1 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-wrapper {
  position: relative;
}

.search-wrapper > img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 30%;
}

.search-wrapper > input {
  width: 325px;
  height: 42px;
  padding: 0 20px 0 30px;
  background: #f3f4f6;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .general-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .search-wrapper > input {
    width: 242px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .general-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .general-filter {
    display: block;
  }
  .general-filter > h1 {
    margin-bottom: 18px;
  }

  .search-wrapper > input {
    /* width: 288px; */
    width: 100%;
  }
  .search-wrapper {
    width: 100%;
  }
  .filter-wrapper > button {
    position: absolute;
    top: -12px;
    right: 0;
  }
}
